@import url("https://fonts.googleapis.com/css?family=Lexend&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --color-main-blue: #89abe3;
  --color-background-workplace: #fefafa;
  --color-red: #ee0e0e;
}


.notes-list-item:hover {
  background-color: #f5f0f0;
  cursor: pointer;
}

.floating-button > svg {
  fill: #000000;
}

.note-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.note-header h3 {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: help;
}

.note-header button {
  border: none;
  outline: none;
  font-weight: 600;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
}

.note textarea {
  background-color: #00000000;
  font-family: "Roboto";

  border: none;
  padding: 16px 12px;
  width: 90%;
  height: 50vh;
  resize: none;
  scrollbar-width: none;
}

.note textarea:active,
.note textarea:focus {
  outline: none;
  border: none;
}

.note textarea::-webkit-scrollbar {
  display: none;
}

body {
  line-height: 1.8em;
  font-weight: 400;
  font-size: 16px;
  margin: 10px;
  background-color: #fcf6f5;
}

a {
  text-decoration: none;
}

.app {
  position: relative;
  width: 100%;
}


.app-header {
  position: relative;
  width: 100%;
  height: 4em;
  top: 0;
  background: var(--color-main-blue);
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
}

.app-header h1 {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 1.3em;
  margin: auto;
  font-family: "Lexend";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fcf6f5;
  cursor: default;
}

.app-header-right {
  margin: 5px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  padding: 5px;
}

#logout-button {
  fill: #fcf6f5;
  width: 25px;
  height: 25px;
}

.main {
  position: relative;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  margin: 10px;
  height: 85vh;
}

.container {
  position: relative;
  /* height: 85vh; */
}

.sidebar {
  position: relative;
  padding: 10px 2px;
  border: 2px solid var(--color-main-blue);
  border-radius: 10px;
  margin: 0 7px;
  overflow: hidden;
  flex: 0.7;
  flex-direction: column;
  background: var(--color-background-workplace);
  min-width: 200px;
  max-width: 400px;
}

.sidebar-header {
  position: relative;
  height: 5%;
  flex: auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid var(--color-main-blue);
  line-height: normal;
}

.notes-list {
  position: relative;
  height: 95%;
  overflow: scroll;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  transition: all 1s;
}

.add-button svg {
  justify-content: relative;
  fill: var(--color-main-blue);
}

.notes-list-item {
  height: 6.5em;
  border-bottom: 1px solid var(--color-main-blue);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
  padding: 0 2px;
  position: relative;
}

.active-notes-list-item {
  background-color: #f5f0f0;
  
}


.notes-list-item-info {
  font-size: 10px;
  width: 90%;
  color: #1b1a1a;
  position: absolute;
  bottom: -10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin: 2px;
  transition: all 0.5s;
  display:flex;
  opacity: 0;

}

.notes-list-item:hover .notes-list-item-info{
  transition: all 0.5s;
  opacity: 1;
}

.notes-list-item-title{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  margin: 0.2em 0;
  height: 15%;
  align-items: center;
  letter-spacing: 0.02em;
  color: #000000;
}

.notes-list-item-content {
  font-family: "Roboto";
  font-style: normal;
  height: 50%;
  line-height: 20px;
  color: #000000;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  margin-top:0.7em;
  margin-bottom: 0;
  /* text-overflow: ellipsis; */
}



.workspace {
  overflow: scroll;
  position: relative;
  padding: 10px;
  border: 2px solid var(--color-main-blue);
  border-radius: 10px;
  margin: 0 7px;
  flex: 2;
  backdrop-filter: blur(12px);
  background: var(--color-background-workplace);
}

::-webkit-scrollbar {
  width: 5px;
  height: 0;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
}

.footer {
  text-align: center;
  margin: 1px;
}

.searchbar {
  width: 65%;
  position: relative;
}

.searchbar input {
  margin: 0px;
  padding-left: 7px;
  width: 100%;
  outline: none;
  height: 25px;
  border-radius: 10px;
  border: 2px solid var(--color-main-blue);
}

.clear-button {
  position: absolute;
  border-radius: 10px;
  right: 0px;
  z-index: 2;
  border: none;
  top: 3px;
  height: 25px;
  cursor: pointer;
  color: var(--color-main-blue);
  background-color: white;
  transform: translateX(2%);
}

.input-form {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.input-w-element {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 25em;
  justify-items: center;
  padding-bottom: 2.2em;
  height: 3.5em;
}

.input-w-element input {
  position: relative;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 0.8em;
  margin-bottom: 0;
  padding: 8px 0;
  padding-left: 10px;
}

.input-w-element label {
  position: absolute;
  pointer-events: none;
  transform: translate(0, 23px) scale(1);
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: #6f81a5;
  font-size: 16px;
  line-height: 1;
  left: 1.3rem;
  top: 0.3rem;
}

.input-w-element:focus-within label {
  transform: translate(0, -0.7em) scale(1);
}

.input-w-element .filled {
  transform: translate(0, -0.7rem) scale(1);
}

.input-w-element input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.registration-form-error {
  color: var(--color-red);
  position: absolute;
  justify-content: center;
  width: 100%;
  top: 3.9em;
  font-size: 90%;
  line-height: 1.7;
}

.submit-button-div {

  position: relative;
  width: 100%;
  justify-content: center;
  height: 5em;
}

.submit-button {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background: #86aae4;
  color: #fff;
  border: 1px solid #d6dee1;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: large;
  cursor: pointer;
  text-shadow: none;
  height: 50px;
  width: 200px;
}

.submit-button:disabled {
  background: #86aae44c;
  cursor: default;
}

.registration-form-show-password {
  position: absolute;
  top: 22px;
  right: 30px;
  z-index: 2;
  border: none;
  fill: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.reglog-div {
  margin: 4em 0;
  border-bottom: 1px solid #e7e7e8;
  list-style-type: none;
  text-align: center;
  text-transform: uppercase;
}

.reglog-button {
  margin: 0 1em;
  background: #00000000;
  border: 1px solid transparent;
  border-bottom: 0;
  display: inline-block;
  padding: 8px 16px;
  position: relative;
  top: 1px;
  font-size: 130%;
  width: 30%;
  cursor: pointer;
  color: var(--color-main-blue);
}

.reglog-button:hover {
  color: var(--color-red);
}

.reglog-button-active {
  border-color: #e7e7e8;
  background: var(--color-background-workplace);
  margin: 0 1em;
  border: 1px solid #e7e7e8;
  border-bottom: 0;
  display: inline-block;
  padding: 8px 16px;
  position: relative;
  top: 1px;
  font-size: 130%;
  width: 30%;
  border-radius: 5px 5px 0 0;
}

.welcome-page,
.init-card {
  margin: 1% 5%;
  text-align: center;
  font-family: "Roboto";
  overflow: hidden;
}

.welcome-page p {
  font-size: 30px;
}

@media (max-width: 800px) {
  .app-header h1 {
    position: relative;
    justify-content: left;
    margin: 5px;
  }

  .notes-list-item p {
    visibility: hidden;
  }
  .notes-list-item-title{
    font-weight: 200;
    font-size: 27px;

  }

  .notes-list-item {
    width: 10em;
    height: 100%;
    border-bottom: none;
    border-right: 1px solid var(--color-main-blue);
  }

  .main {
    flex-direction: column;
    height: 100vh;
    transition: all 1s;
  }


  .sidebar{
    max-width: none;
    flex: none;
    overflow:auto;
  }

  .sidebar-header{
    height: auto;
  }
  .notes-list-item-info{
    display: none;
  }

  .workspace {
    flex: 1;
    overflow: visible;
  }

  .notes-list {
    flex-direction: row;
    height: 7em;
  }

  .input-w-element {
    width: 75%;
  }

  .registration-form-error {
    position: relative;
    font-size: 2.4vw;

    top: 0;
  }
}

.sidebar-transition-enter {
  opacity: 0;
  transform: translateX(-200%);
}
.sidebar-transition-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.sidebar-transition-exit {
  opacity: 1;
  transform: translateX(0);
}
.sidebar-transition-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 300ms, transform 300ms;
}

.fade-enter {
  opacity: 0;
  transform: translateX(-50%);
}
.fade-exit {
  opacity: 1;
  transform: translateX(0);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 200ms, transform 200ms;
}
.fade-exit-active {
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 200ms, transform 200ms;
}

.inputErr-transition-enter {
  opacity: 0;
  transform: translateY(-50%);
}
.inputErr-transition-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 200ms, transform 200ms;
}
.inputErr-transition-exit {
  opacity: 1;
  transform: translateY(0);
}
.inputErr-transition-exit-active {
  opacity: 0;
  transform: translateY(-50%);
  transition: opacity 200ms, transform 200ms;
}


.page-enter {
  opacity: 0;
  transform: translateX(-50%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 100ms, transform 100ms;
}

.page-exit {
  opacity: 1;
  transform: translateX(0);
}

.page-exit-active {
  opacity:1;
  transform: translateX(-100%);
  transition: opacity 1ms, transform 100ms;
}